body {
  position: relative;
  height: 1000vh;
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

.wrapper {
  max-width: 1169px;
  margin: auto;
}
@media (max-width: 768px) {
  .wrapper {
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  .header {
    width: 100%;
  }
}

.headerWrap {
  padding: 25px 0 9px 0;
}

.headerNav {
  display: flex;
  gap: 64px;
}
@media (max-width: 768px) {
  .headerNav {
    gap: 35px;
  }
}
.headerNav__item {
  font-family: "Raleway";
  font-weight: 600;
  font-size: 13px;
  line-height: 150%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #343434;
}
@media (min-width: 768px) {
  .headerNav__item:nth-child(8), .headerNav__item:nth-child(9) {
    display: none;
  }
}
@media (max-width: 768px) {
  .headerNav__item:not(:nth-child(4), :nth-child(7), :nth-child(8), :nth-child(9)) {
    display: none;
  }
}
@media (max-width: 768px) {
  .headerNav__item:nth-child(4) {
    width: 44%;
  }
}
.headerNav__item:nth-child(8):hover {
  fill: #FF9619;
}
@media (max-width: 768px) {
  .headerNav__logo {
    width: 92px;
    height: 34px;
  }
}
.headerNav__downArrow {
  margin-left: 6px;
}

.accordion {
  display: block;
  cursor: pointer;
}
.accordion__heading {
  display: block;
}

.catalogList {
  position: absolute;
  margin-top: 3px;
  background-color: #FFFFFF;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: grid;
}
.catalogList__item {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 15px;
  color: #343434;
  padding: 13px;
}
.catalogList__item:hover {
  background-color: #FF9619;
}

.languageAccordion {
  color: rgba(52, 52, 52, 0.7);
}

.languageList {
  cursor: pointer;
  position: absolute;
  padding: 6px;
  background-color: #FFFFFF;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-family: "Raleway";
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: rgba(52, 52, 52, 0.7);
}
.languageList__item:hover {
  color: #FF9619;
}

.burger {
  z-index: 2;
  cursor: pointer;
}
.burger__active {
  position: fixed;
}
.burger__active :nth-child(1) {
  display: none;
}
.burger__active :nth-child(2) {
  transform: translate(-50%, 0%) rotate(45deg);
  position: absolute;
}
.burger__active :nth-child(3) {
  transform: translate(-50%, 0%) rotate(-45deg);
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 6px 0;
  background-color: black;
  transition: transform 0.8s;
}

.burgerList {
  padding: 28px 20px;
  margin: 0;
  background-color: #FFFFFF;
  position: fixed;
  width: 100%;
  top: 0;
  left: 100%;
  transition: 0.8s ease-out;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.burgerList__open {
  left: 37%;
}
.burgerList__link {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 17px;
  line-height: 185.5%;
  color: #4B4844;
}
.burgerList__link:hover {
  color: #FF9619;
}

.promo {
  height: 800px;
}
@media (max-width: 768px) {
  .promo {
    height: inherit;
  }
}

.promoContainer {
  background: #CCB2A3;
  height: 600px;
}
@media (max-width: 768px) {
  .promoContainer {
    height: 574px;
  }
}

.promoWrap {
  max-width: 1169px;
  margin: 0 auto;
  display: flex;
}
@media (max-width: 768px) {
  .promoWrap {
    flex-direction: column;
  }
}

.promoLeft {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  padding: 120px 0;
}
@media (max-width: 768px) {
  .promoLeft {
    padding: 22px 24px;
  }
}
.promoLeft__text {
  max-width: 270px;
  font-family: "Raleway";
  font-weight: 600;
  font-size: 42px;
  line-height: 110%;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #FFFFFF;
  margin: 54px 0;
}
@media (max-width: 768px) {
  .promoLeft__text {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 25px;
    line-height: 110%;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: 0;
  }
}
.promoLeft__text_marked {
  display: contents;
  color: #FF9619;
}
.promoLeft__btn {
  padding: 14px 22px;
  background: #5B5B5B;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  align-self: start;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #5B5B5B;
  border: none;
}
@media (max-width: 768px) {
  .promoLeft__btn {
    display: none;
    padding: 7px 22px;
  }
}
.promoLeft__btn:hover {
  background-color: #FF9619;
}
.promoLeft__btn_bottom {
  display: none;
}
@media (max-width: 768px) {
  .promoLeft__btn_bottom {
    display: block;
    align-self: center;
  }
}

.promoRight {
  height: 870px;
}
@media (max-width: 768px) {
  .promoRight {
    display: flex;
    flex-direction: column-reverse;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.promoRight__text {
  display: flex;
  justify-content: end;
  margin: 37px 0;
  font-family: "Raleway";
  font-size: 20px;
  line-height: 127.5%;
  color: #FFFFFF;
}
@media (max-width: 768px) {
  .promoRight__text {
    justify-content: center;
    margin: 22px 0;
  }
}

.promoSwiper {
  position: relative;
  width: 870px;
  height: 700px;
}
@media (max-width: 768px) {
  .promoSwiper {
    width: initial;
    height: initial;
  }
}

.promoSwiperSlides__slide {
  width: 100%;
}
.promoSwiperSlides img {
  width: inherit;
}

#leftButton, #rightButton {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  font-size: 30px;
  color: black;
}

#leftButton {
  left: 5px;
}

#rightButton {
  right: 5px;
}

.promoSwiperPagination {
  display: flex;
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  gap: 10px;
}
@media (max-width: 768px) {
  .promoSwiperPagination {
    position: absolute;
    bottom: -17px;
    gap: 4px;
  }
}
.promoSwiperPagination__dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #F2F3F5;
  cursor: pointer;
}
@media (max-width: 768px) {
  .promoSwiperPagination__dot {
    width: 7px;
    height: 7px;
  }
}

.active {
  background-color: #FF9619;
}

.arrivals {
  padding: 90px 0 125px 0;
}

@media (max-width: 768px) {
  .arrivalsHeading {
    margin-bottom: 30px;
  }
}

.arrivalsSlider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
@media (max-width: 768px) {
  .arrivalsSlider {
    display: none;
  }
}
.arrivalsSlider__buttons {
  margin-bottom: 100px;
}

.arrivalsSliderList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.arrivalsHeading {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 35px;
  line-height: 110%;
  color: #343434;
}
.arrivalsHeading_marked {
  color: #FF9619;
}

.arrivalsSliderSlide {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.arrivalsSliderSlide_1 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.arrivalsSliderSlide_active {
  top: -10px;
  grid-column: 2/3;
  grid-row: 1/2;
}
.arrivalsSliderSlide_active img {
  width: 110%;
}
.arrivalsSliderSlide_3 {
  grid-column: 3/4;
  grid-row: 1/2;
}
.arrivalsSliderSlide__heading {
  margin: 15px 0 5px 0;
  font-family: "Raleway";
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #343434;
}
.arrivalsSliderSlide__price {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 18px;
  line-height: 25px; /* identical to box height */
  color: #FF9619;
}
.arrivalsSliderSlide__buttons {
  position: absolute;
}

.slideArrow {
  display: none;
  position: absolute;
}

.arrivalsBtn {
  display: flex;
  margin: 0 auto;
  padding: 13px 21px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #5B5B5B;
  border: none;
}
.arrivalsBtn:hover {
  background-color: #FF9619;
}

.mobileSwiper {
  display: none;
  position: relative;
}
@media (max-width: 768px) {
  .mobileSwiper {
    display: block;
    margin-bottom: 60px;
  }
}

.mobileSwiper .slider {
  max-width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

.sliderSlide {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sliderSlideBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sliderBottomBtn {
  position: absolute;
  top: 40%;
}
.sliderBottomBtn__next {
  right: 0;
}

.slider-prev {
  position: absolute;
  top: 40%;
}

.slider-next {
  position: absolute;
  top: 40%;
  right: 0;
}

.sliderList {
  display: flex;
  transition: all ease 1s;
}

.individual {
  padding: 55px 0;
}

.individualWrap {
  position: relative;
  height: 482px;
}

.rectangles {
  display: flex;
  justify-content: end;
  position: absolute;
  width: 60%;
  height: 390px;
  background: #A9C2BE;
  background-image: url(/img/cage.png);
  z-index: 1;
}

.cage {
  position: absolute;
  z-index: 5;
}

.grey {
  width: 70%;
  height: 453px;
  background: #5B5B5B;
  position: absolute;
  top: 0;
  right: 0;
}

.sofa {
  width: 600px;
  height: 400px;
  background: #C0C0C0;
  position: absolute;
  top: 27px;
  z-index: 2;
}

.coloredRectangle {
  width: 225px;
  height: 54px;
  background-color: #FF9619;
  position: absolute;
  bottom: -29px;
  z-index: 4;
}

.furitureRectangle {
  width: 149px;
  height: 110px;
  background-color: #FF9619;
  position: absolute;
  top: -55px;
  z-index: 4;
  right: 15%;
}/*# sourceMappingURL=style.css.map */