body {
  position: relative;
  height: 1000vh;
}

h3 h2 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

.marked {
  color: #FF9619;
}

.wrapper {
  max-width: 1169px;
  margin: auto;
}
@media (max-width: 768px) {
  .header {
    width: 100%;
  }
}

.headerWrap {
  padding: 25px 0 9px 0;
}
@media (max-width: 1167px) {
  .headerWrap {
    padding: 25px 18px;
  }
}
@media (max-width: 768px) {
  .headerWrap {
    padding: 0;
  }
}

.headerNav {
  display: flex;
  gap: 64px;
}
.headerNav :nth-child(6) {
  font-family: system-ui;
}
@media (max-width: 1167px) {
  .headerNav {
    gap: 35px;
  }
}
.headerNav__item {
  font-family: "Raleway";
  font-weight: 600;
  font-size: 13px;
  line-height: 150%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #343434;
}
@media (min-width: 1167px) {
  .headerNav__item:nth-child(8), .headerNav__item:nth-child(9) {
    display: none;
  }
}
@media (max-width: 1167px) {
  .headerNav__item:not(:nth-child(4), :nth-child(7), :nth-child(8), :nth-child(9)) {
    display: none;
  }
}
@media (max-width: 1167px) {
  .headerNav__item:nth-child(4) {
    width: 80%;
  }
}
.headerNav__item:nth-child(8):hover {
  fill: #FF9619;
}
@media (max-width: 1167px) {
  .headerNav__logo {
    width: 92px;
    height: 34px;
  }
}
.headerNav__downArrow {
  margin-left: 6px;
}

.accordion {
  display: block;
  cursor: pointer;
}
.accordion__heading {
  display: block;
}

.catalogList {
  position: absolute;
  margin-top: 3px;
  background-color: #FFFFFF;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: grid;
}
.catalogList__item {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 15px;
  color: #343434;
  padding: 13px;
}
.catalogList__item:hover {
  background-color: #FF9619;
}

.languageAccordion {
  color: rgba(52, 52, 52, 0.7);
}

.languageList {
  cursor: pointer;
  position: absolute;
  padding: 6px;
  background-color: #FFFFFF;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-family: "Raleway";
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: rgba(52, 52, 52, 0.7);
}
.languageList__item:hover {
  color: #FF9619;
}

.burger {
  z-index: 2;
  cursor: pointer;
}
.burger__active {
  position: fixed;
}
.burger__active :nth-child(1) {
  display: none;
}
.burger__active :nth-child(2) {
  transform: translate(-50%, 0%) rotate(45deg);
  position: absolute;
}
.burger__active :nth-child(3) {
  transform: translate(-50%, 0%) rotate(-45deg);
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 6px 0;
  background-color: black;
  transition: transform 0.8s;
}

.burgerList {
  padding: 28px 20px;
  margin: 0;
  background-color: #FFFFFF;
  position: fixed;
  width: 100%;
  top: 0;
  left: 100%;
  transition: 0.8s ease-out;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.burgerList__open {
  left: 37%;
}
.burgerList__link {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 17px;
  line-height: 185.5%;
  color: #4B4844;
}
.burgerList__link:hover {
  color: #FF9619;
}

.promo {
  height: 800px;
}
@media (max-width: 1024px) {
  .promo {
    height: 650px;
  }
}
@media (max-width: 768px) {
  .promo {
    height: auto;
    padding-bottom: 54px;
  }
}

.promoContainer {
  background: #CCB2A3;
  height: 600px;
}
@media (max-width: 1167px) {
  .promoContainer {
    height: 60%;
  }
}
@media (max-width: 768px) {
  .promoContainer {
    height: auto;
    padding-bottom: 54px;
  }
}

.promoWrap {
  max-width: 1169px;
  margin: 0 auto;
  display: flex;
}
@media (max-width: 1167px) {
  .promoWrap {
    padding: 0 15px;
  }
}
@media (max-width: 768px) {
  .promoWrap {
    flex-direction: column;
  }
}

.promoLeft {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  padding: 120px 0;
}
@media (max-width: 1167px) {
  .promoLeft {
    padding: 40px 0;
  }
}
@media (max-width: 768px) {
  .promoLeft {
    padding: 22px 24px;
  }
}
.promoLeft__text {
  max-width: 270px;
  font-family: "Raleway";
  font-weight: 600;
  font-size: 42px;
  line-height: 110%;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #FFFFFF;
  margin: 54px 0;
}
@media (max-width: 768px) {
  .promoLeft__text {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 25px;
    line-height: 110%;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: 0;
  }
}
.promoLeft__text_marked {
  display: contents;
  color: #FF9619;
}
.promoLeft__btn {
  padding: 14px 22px;
  background: #5B5B5B;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  align-self: start;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #5B5B5B;
  border: none;
}
@media (max-width: 768px) {
  .promoLeft__btn {
    display: none;
    padding: 7px 22px;
  }
}
.promoLeft__btn:hover {
  background-color: #FF9619;
}
.promoLeft__btn_bottom {
  display: none;
}
@media (max-width: 768px) {
  .promoLeft__btn_bottom {
    display: block;
    align-self: center;
  }
}

@media (max-width: 768px) {
  .promoRight {
    display: flex;
    flex-direction: column-reverse;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.promoRight__text {
  display: flex;
  justify-content: end;
  margin: 37px 0;
  font-family: "Raleway";
  font-size: 20px;
  line-height: 127.5%;
  color: #FFFFFF;
}
@media (max-width: 768px) {
  .promoRight__text {
    justify-content: center;
    margin: 22px 0;
  }
}

.promoSwiper {
  position: relative;
}
@media (max-width: 1167px) {
  .promoSwiper {
    height: 450px;
  }
}
@media (max-width: 768px) {
  .promoSwiper {
    height: auto;
  }
}

.promoSwiperSlides__slide {
  width: 100%;
}
.promoSwiperSlides img {
  width: inherit;
}

#leftButton, #rightButton {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  font-size: 30px;
  color: black;
}

#leftButton {
  left: 5px;
}

#rightButton {
  right: 5px;
}

.promoSwiperPagination {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  gap: 10px;
}
@media (max-width: 768px) {
  .promoSwiperPagination {
    position: absolute;
    bottom: -17px;
    gap: 4px;
  }
}
.promoSwiperPagination__dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #F2F3F5;
  cursor: pointer;
}
@media (max-width: 768px) {
  .promoSwiperPagination__dot {
    width: 7px;
    height: 7px;
  }
}

.active {
  background-color: #FF9619;
}

.arrivals {
  padding: 90px 0 125px 0;
}
@media (max-width: 1167px) {
  .arrivals {
    padding: 0 0 125px 0;
  }
}

.arrivalsWrap {
  padding: 0 15px;
}
@media (max-width: 768px) {
  .arrivalsWrap {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .arrivalsHeading {
    margin-bottom: 30px;
  }
}

.arrivalsSlider {
  position: relative;
  padding: 200px 50px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .arrivalsSlider {
    display: none;
  }
}
.arrivalsSlider__buttons {
  position: absolute;
  top: 31%;
  border: none;
  background-color: inherit;
}
@media (max-width: 1169px) {
  .arrivalsSlider__buttons {
    top: 25%;
  }
}
@media (max-width: 1024px) {
  .arrivalsSlider__buttons {
    top: 20%;
  }
}
.arrivalsSlider__left {
  left: 0;
}
.arrivalsSlider__right {
  right: 0;
}

.arrivalsSliderList {
  display: flex;
  justify-content: space-between;
  gap: 12%;
  position: absolute;
  top: 0;
  left: 4%;
  width: 100%;
  transition: all ease 1s;
}
@media (max-width: 1169px) {
  .arrivalsSliderList {
    gap: 21%;
    width: 77%;
  }
}
@media (max-width: 1024px) {
  .arrivalsSliderList {
    width: 76%;
  }
}

.arrivalsHeading {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 35px;
  line-height: 110%;
  color: #343434;
}
.arrivalsHeading_marked {
  color: #FF9619;
}

.arrivalsSliderSlide img {
  width: 100%;
}

.arrivalsSliderSlide {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 254px;
  min-height: 250px;
}
@media (max-width: 1169px) {
  .arrivalsSliderSlide {
    min-width: 25%;
  }
}
.arrivalsSliderSlide__heading {
  margin: 15px 0 5px 0;
  font-family: "Raleway";
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #343434;
}
.arrivalsSliderSlide__price {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 18px;
  line-height: 25px; /* identical to box height */
  color: #FF9619;
}
.arrivalsSliderSlide__buttons {
  position: absolute;
}

.slideArrow {
  display: none;
  position: absolute;
}

.arrivalsBtn {
  display: flex;
  margin: 0 auto;
  padding: 13px 21px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #5B5B5B;
  border: none;
}
.arrivalsBtn:hover {
  background-color: #FF9619;
}

.mobileSwiper {
  display: none;
  position: relative;
}
@media (max-width: 768px) {
  .mobileSwiper {
    display: block;
    margin-bottom: 60px;
  }
}

.mobileSwiper .slider {
  max-width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

.sliderSlide {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sliderSlideBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sliderBottomBtn {
  position: absolute;
  top: 40%;
}
.sliderBottomBtn__next {
  right: 0;
}

.slider-prev {
  position: absolute;
  top: 40%;
}

.slider-next {
  position: absolute;
  top: 40%;
  right: 0;
}

.sliderList {
  display: flex;
  transition: all ease 1s;
}

.individual {
  padding: 55px 0;
  margin-bottom: 100px;
}
.individual__heading {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 35px;
  line-height: 100%;
  font-variant: small-caps;
  color: #FFFFFF;
  margin-bottom: 25px;
  max-width: 370px;
}
.individual__heading_marked {
  color: #FF9619;
}
@media (max-width: 768px) {
  .individual__heading {
    font-weight: 700;
    font-size: 20px;
  }
}
.individual__textUp {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  margin-bottom: 11px;
}
@media (max-width: 768px) {
  .individual__textUp {
    font-weight: 700;
    font-size: 16px;
  }
}
.individual__textBottom {
  font-family: "Raleway";
  font-weight: 300;
  font-size: 18px;
  line-height: 135%;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  margin-bottom: 26px;
  max-width: 375px;
}
@media (max-width: 1024px) {
  .individual__textBottom {
    margin-bottom: 17px;
  }
}
@media (max-width: 768px) {
  .individual__textBottom {
    font-weight: 300;
    font-size: 14px;
    max-width: 355px;
  }
}
.individual__button {
  padding: 13px 18px;
  background-color: #FF9619;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
}
@media (max-width: 768px) {
  .individual__button_desctop {
    display: none;
  }
}
.individual__button_mobile {
  display: none;
}
@media (max-width: 768px) {
  .individual__button_mobile {
    display: block;
    position: absolute;
    z-index: 4;
    bottom: -30%;
    align-self: center;
  }
}

.individualWrap {
  position: relative;
  height: 482px;
  display: flex;
  flex-direction: column;
}

.rectangles {
  display: flex;
  justify-content: end;
  position: relative;
  width: 60%;
  height: 390px;
  background: #A9C2BE;
  z-index: 2;
}
@media (max-width: 768px) {
  .rectangles {
    width: 80%;
    position: absolute;
    right: 0;
    height: 260px;
    top: 275px;
    background-image: url(/img/cage.png);
  }
}

.rectLeft {
  width: 70%;
  height: 390px;
  background-image: url(/img/cage.png);
}
@media (max-width: 768px) {
  .rectLeft {
    display: none;
  }
}

.rectRight {
  width: 30%;
  height: 390px;
}
@media (max-width: 768px) {
  .rectRight {
    display: none;
  }
}

.cage {
  position: absolute;
  z-index: 5;
}

.grey {
  display: flex;
  width: 71%;
  height: 94%;
  background: #5B5B5B;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
@media (max-width: 1024px) {
  .grey {
    width: 90%;
    height: 89%;
  }
}
@media (max-width: 768px) {
  .grey {
    display: block;
    width: 100%;
    height: 440px;
  }
}

.grey1 {
  width: 44%;
}
@media (max-width: 1024px) {
  .grey1 {
    width: 70%;
  }
}

.grey2 {
  width: 56%;
  padding: 101px 0 0 48px;
}
@media (max-width: 768px) {
  .grey2 {
    width: 70%;
    padding: 79px 0 0 18px;
  }
}

.sofa {
  background: #C0C0C0;
  position: absolute;
  top: 27px;
  right: 40%;
  z-index: 3;
}
@media (max-width: 1024px) {
  .sofa {
    margin-left: 20px;
    bottom: 75px;
  }
}
@media (max-width: 768px) {
  .sofa {
    height: 239px;
    width: 90%;
    right: 5%;
    top: 240px;
    bottom: 0;
    margin: 0;
  }
}

.sofa img {
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  .sofa img {
    height: 100%;
  }
}

.coloredRectangle {
  width: 205px;
  height: 54px;
  background-color: #FF9619;
  position: absolute;
  left: 29%;
  z-index: 4;
  bottom: 0;
}
@media (max-width: 1024px) {
  .coloredRectangle {
    bottom: 21px;
    left: 10%;
  }
}
@media (max-width: 768px) {
  .coloredRectangle {
    width: 67px;
    height: 15px;
    bottom: -10px;
    left: 12%;
  }
}

.furnitureRectangle {
  width: 149px;
  height: 110px;
  background-color: #FF9619;
  position: absolute;
  top: -40px;
  z-index: 4;
  right: 15%;
}
@media (max-width: 768px) {
  .furnitureRectangle {
    font-weight: 700;
    width: 92px;
    height: 70px;
    right: 0;
  }
}
.furnitureRectangle__text {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 15px;
  line-height: 125%;
  letter-spacing: 0.245em;
  color: #FFFFFF;
  position: absolute;
  top: 55%;
  left: 10px;
}
@media (max-width: 768px) {
  .furnitureRectangle__text {
    font-size: 10px;
    line-height: 129.5%;
    top: 69%;
  }
}

.history {
  padding: 100px 0;
}

.historyTop {
  position: relative;
}

.historyHeading {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 35px;
  line-height: 150%;
}
.historyHeading_marked {
  color: #FF9619;
}
@media (max-width: 1169px) {
  .historyHeading_marked {
    padding: 0 0 0 15px;
  }
}

.historyDescription {
  position: absolute;
  z-index: 2;
  top: 100px;
  width: 538px;
  padding: 51px 0 51px 82px;
  background-color: #5B5B5B;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  font-family: "Raleway";
}
@media (max-width: 1169px) {
  .historyDescription {
    top: 130px;
    width: auto;
    padding: 15px;
  }
}
@media (max-width: 768px) {
  .historyDescription {
    position: static;
    padding: 40px 15px 60px 15px;
  }
}
.historyDescription__heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 125%;
  font-variant: small-caps;
}
.historyDescription__text {
  max-width: 454px;
  font-weight: 300;
  font-size: 18px;
  line-height: 135%;
}
@media (max-width: 768px) {
  .historyDescription__text {
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
}

.historyImg {
  position: absolute;
  top: 90px;
  right: 0;
}
@media (max-width: 1169px) {
  .historyImg {
    top: 120px;
    right: 1%;
  }
}
@media (max-width: 768px) {
  .historyImg {
    position: static;
    padding: 0 15px;
  }
}
.historyImg img {
  width: 100%;
  margin-top: -42px;
}

.historyRect {
  width: 101px;
  height: 55px;
  background-color: #FF9619;
  position: absolute;
  top: 250px;
  z-index: 3;
}
@media (max-width: 1169px) {
  .historyRect {
    top: 183px;
  }
}
@media (max-width: 768px) {
  .historyRect {
    width: 75px;
    height: 78px;
    right: 0;
    top: 280px;
  }
}
@media (max-width: 500px) {
  .historyRect {
    top: 320px;
  }
}/*# sourceMappingURL=style.css.map */