.arrivals{
    padding: 90px 0 125px 0;
}
.arrivalsHeading{
    @media (max-width: $mediaWidth) {
        margin-bottom: 30px;
    }
}
.arrivalsSlider{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    @media (max-width: $mediaWidth) {
        display: none;
    }
    &__buttons{
        margin-bottom: 100px;
    }
}
.arrivalsSliderList{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.arrivalsHeading{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 35px;
    line-height: 110%;
    color: #343434;
    &_marked{
        color: #FF9619;
    }
}
.arrivalsSliderSlide{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &_1{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    &_active{
        top: -10px;
        img {
            width: 110%;
        }
        grid-column: 2/3;
        grid-row: 1/2;
    }
    &_3{
        grid-column: 3/4;
        grid-row: 1/2;
    }
    
    &__heading{
        margin: 15px 0 5px 0;
        font-family: 'Raleway';
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #343434;
    }
    &__price{
        font-family: 'Open Sans';
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;/* identical to box height */
        color: #FF9619;
    }
    &__buttons{
        position: absolute;
    }
}
.slideArrow{
    display: none;
    position: absolute;
}
.arrivalsBtn{
    display: flex;
    margin: 0 auto;
    padding: 13px 21px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #5B5B5B;
    border: none;
    &:hover{
        background-color: #FF9619;
    }
}
.mobileSwiper{
    display: none;
    position: relative;
    @media (max-width: $mediaWidth) {
        display: block;
        margin-bottom: 60px;
    }
}
.mobileSwiper
.slider{
    max-width: 80%;
    margin: 0 auto;
    overflow: hidden;
}
// .sliderBottom{
//     position: relative;
// }
.sliderSlide{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sliderSlideBottom{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sliderBottomBtn{
    position: absolute;
    top: 40%;
    &__next{
        right: 0;
    }
}
.slider-prev{
    position: absolute;
    top: 40%;
}
.slider-next{
    position: absolute;
    top: 40%;
    right: 0;
}
.sliderList{
    display: flex;
    transition: all ease 1s;
}


