.arrivals{
    padding: 90px 0 125px 0;
    @media (max-width: 1167px) {
        padding: 0 0 125px 0;
    }
}
.arrivalsWrap{
    padding: 0 15px;
}
.arrivalsHeading{
    @media (max-width: $mediaWidth) {
        margin-bottom: 30px;
    }
}
.arrivalsSlider{
    position: relative;
    padding: 200px 50px;
    overflow: hidden;

    @media (max-width: $mediaWidth) {
        display: none;
    }
    &__buttons{
        position: absolute;
        top: 31%;
        border: none;
        background-color: inherit;
        @media (max-width: $siteWidth) {
            top: 25%;

        }
        @media (max-width: 1024px) {
            top: 20%;
        }
    }
    &__left{
        left: 0;
    }
    &__right{
        right: 0;
    }
}
.arrivalsSliderList{
    display: flex;
    justify-content: space-between;
    gap: 12%;
    position: absolute;
    top: 0;
    left: 4%;
    width: 100%;
    transition: all ease 1s;

    @media (max-width: $siteWidth) {
        gap: 21%;
        width: 77%;
    }
    @media (max-width: 1024px) {
        width: 76%;
    }
    

}
.arrivalsHeading{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 35px;
    line-height: 110%;
    color: #343434;
    &_marked{
        color: #FF9619;
    }
}

.arrivalsSliderSlide img {
    width: 100%;
}
.arrivalsSliderSlide{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-width: 254px;
    min-height: 250px;
    @media (max-width: $siteWidth) {
        min-width: 25%;
    }
    @media (max-width: 1024px) {
    }
    
    &__heading{
        margin: 15px 0 5px 0;
        font-family: 'Raleway';
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #343434;
    }
    &__price{
        font-family: 'Open Sans';
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;/* identical to box height */
        color: #FF9619;
    }
    &__buttons{
        position: absolute;
    }
}
.slideArrow{
    display: none;
    position: absolute;
}
.arrivalsBtn{
    display: flex;
    margin: 0 auto;
    padding: 13px 21px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #5B5B5B;
    border: none;
    &:hover{
        background-color: #FF9619;
    }
}
.mobileSwiper{
    display: none;
    position: relative;
    @media (max-width: $mediaWidth) {
        display: block;
        margin-bottom: 60px;
    }
}
.mobileSwiper
.slider{
    max-width: 80%;
    margin: 0 auto;
    overflow: hidden;
}
// .sliderBottom{
//     position: relative;
// }
.sliderSlide{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sliderSlideBottom{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sliderBottomBtn{
    position: absolute;
    top: 40%;
    &__next{
        right: 0;
    }
}
.slider-prev{
    position: absolute;
    top: 40%;
}
.slider-next{
    position: absolute;
    top: 40%;
    right: 0;
}
.sliderList{
    display: flex;
    transition: all ease 1s;
}


