.arrivals{
    padding: 90px 0 125px 0;
}
.arrivalsHeading{
    @media (max-width: $mediaWidth) {
        margin-bottom: 30px;
    }
}
.arrivalsSlider{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    &__buttons{
        margin-bottom: 50px;
        @media (max-width: $mediaWidth) {
            display: none;
        }
    }
}
.arrivalsSliderList{
    display: flex;
    gap: 30px;
    @media (max-width: $mediaWidth) {
        flex-direction: column;
        gap: 60px;
        margin-bottom: 60px;
    }
}
.arrivalsHeading{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 35px;
    line-height: 110%;
    color: #343434;
    &_marked{
        color: #FF9619;
    }
}
.arrivalsSliderSlide{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &_active:hover{
        width: 120%;
    }
    &__3{
        @media (max-width: $mediaWidth) {
            display: none;
        }
    }
    
    &__heading{
        margin: 15px 0 5px 0;
        font-family: 'Raleway';
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #343434;
    }
    &__price{
        font-family: 'Open Sans';
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;/* identical to box height */
        color: #FF9619;
    }
    &__buttons{
        position: absolute;
    }
}
.slideArrow{
    position: absolute;
    &__left{
        left: -35px;
        top: 35%;
    }
    &__right{
        right: -35px;
        top: 35%;
    }
}
.arrivalsBtn{
    display: flex;
    margin: 0 auto;
    padding: 13px 21px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #5B5B5B;
    border: none;
    &:hover{
        background-color: #FF9619;
    }
}