.header{
    @media (max-width: $mediaWidth) {
        width: 100%;
    }
    

}
.headerWrap{
    padding: 25px 0 9px 0;
    @media (max-width: 1167px) {
        padding: 25px 18px;
    }
    @media (max-width: $mediaWidth) {
        padding: 0;
    }
}
.headerNav{
    display: flex;
    gap: 64px;
    :nth-child(6){
        font-family: system-ui;
    }
    @media (max-width: 1167px) {
        gap: 35px;
    }
  
    &__item{
        font-family: 'Raleway';
        font-weight: 600;
        font-size: 13px;
        line-height: 150%;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: #343434;
        &:nth-child(8), &:nth-child(9){
            @media (min-width: 1167px) {
                display: none;
            }
        }
        &:not(:nth-child(4), :nth-child(7), :nth-child(8), :nth-child(9)){
            @media (max-width: 1167px) {
            display: none;
        }
    }
    &:nth-child(4){
        @media (max-width: 1167px) {
            width: 80%;
        }
    }
    &:nth-child(8):hover{
        fill:#FF9619;
    }
    }
    
    &__logo{
        @media (max-width: 1167px) {
            width: 92px;
            height: 34px;
        }
        
    }
    &__downArrow{
        margin-left: 6px;
    }
}
.accordion{
    display: block;
    cursor: pointer;

    &__heading{
        display: block;
    }
}
.catalogList{
    position: absolute;
    margin-top: 3px;
    background-color: #FFFFFF;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: grid;
    &__item{
        font-family: 'Raleway';
        font-weight: 400;
        font-size: 15px;
        color: #343434;
        padding: 13px;
        &:hover{
            background-color: #FF9619;
        }
    }
}
.languageAccordion{
    color: rgba(52, 52, 52, 0.7);
}
.languageList{
    cursor: pointer;
    position: absolute;
    padding: 6px;
    background-color: #FFFFFF;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: rgba(52, 52, 52, 0.7);
    &__item:hover{
        color: #FF9619;

    }
}

// burgerMenu
.burger{
    z-index: 2;
    cursor: pointer;
    &__active{
        position: fixed;

        :nth-child(1){
            display: none;
        }
        
        :nth-child(2){
            transform: translate(-50%, 0%) rotate(45deg); 
            position: absolute; 
        }
        :nth-child(3){
            transform: translate(-50%, 0%) rotate(-45deg);  
        }
    }
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 6px 0;
    background-color: black;
    transition: transform 0.8s; 
}
.burgerList{
    padding: 28px 20px;
    margin: 0;

    background-color: #FFFFFF;
    position: fixed;
    width: 100%;
    top: 0;     
    left: 100%;
    transition: .8s ease-out;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    &__open{
        left: 37%;
    }
    &__link{
        text-decoration: none;
        font-family: 'Raleway';
        font-weight: 400;
        font-size: 17px;
        line-height: 185.5%;
        color: #4B4844;
        &:hover{
            color: #FF9619;
        }
    }
}
