.individual{
    padding: 55px 0;
    &__heading{
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 35px;
        line-height: 100%;
        font-variant: small-caps;
        color: #FF9619;
        margin-bottom: 25px;
        max-width: 370px;
    }
    &__textUp{
        font-family: 'Raleway';
        font-weight: 500;
        font-size: 20px;
        line-height: 125%;
        letter-spacing: 0.1em;
        color: #FFFFFF;
        margin-bottom: 11px;

    }
    &__textBottom{
        font-family: 'Raleway';
        font-weight: 300;
        font-size: 18px;
        line-height: 135%;
        letter-spacing: 0.1em;
        color: #FFFFFF;
        margin-bottom: 26px;
        max-width: 375px;

        @media (max-width: 1024px) {
            margin-bottom: 17px;
        }
    }
    &__button{
        padding: 13px 18px;
        background-color: #FF9619;
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        text-transform: uppercase;
        color: #FFFFFF;
        border: none;
    }
}
.individualWrap{
    position: relative;
    height: 482px;

}
.rectangles{
    display: flex;
    justify-content: end;
    position: relative;
    width: 60%;
    height: 390px;
   background: #A9C2BE;
   z-index: 1;
}
.rectLeft{
    width: 70%;
    height: 390px;
    background-image: url(/img/cage.png);

}
.rectRight{
    width: 30%;
    height: 390px;
}
.cage{
    position: absolute;
    z-index: 5;
}
.grey{
    display: flex;
    width: 71%;
    height: 94%;
    background: #5B5B5B;
    position: absolute;
    top: 0;
    right: 0;
    @media (max-width: 1024px) {
        width: 90%;
        height: 89%;

    }
}
.grey1{
    width: 44%;
    @media (max-width: 1024px) {
        width: 70%;
    }
}
.grey2{
    width: 56%;
    padding: 101px 0 0 48px;
}
.sofa{
    background: #C0C0C0;
    position: absolute;
    top: 27px;
    z-index: 2;
    @media (max-width: 1024px) {
        width: 90%;
        bottom: -15px;
    }
}
.sofa img {
    width: 100%;
    height: 100%;
}
.coloredRectangle{
    width: 205px;
    height: 54px;
    background-color: #FF9619;
    position: absolute;
    bottom: -29px;
    z-index: 4;
}
.furnitureRectangle{
    width: 149px;
    height: 110px;
    background-color: #FF9619;
    position: absolute;
    top: -40px;
    z-index: 4;
    right: 15%;
    &__text{
        font-family: 'Raleway';
        font-weight: 400;
        font-size: 15px;
        line-height: 125%;
        letter-spacing: 0.245em;
        color: #FFFFFF;
        position: absolute;
        top: 55%;
        left: 10px;
    }
}