.promo{
    height: 800px;
    @media (max-width: 1024px) {
        height: 650px;
    }
    @media (max-width: $mediaWidth) {
        height: auto;
        padding-bottom: 54px;
    }
}
.promoContainer{
    background: #CCB2A3;
    height: 600px;
    @media (max-width: 1167px) {
        height: 60%
    }
    @media (max-width: $mediaWidth) {
        height: auto;
        padding-bottom: 54px;
    }
}
.promoWrap{
    max-width: $siteWidth;
    margin: 0 auto;
    display: flex;
    @media (max-width: 1167px) {
        padding: 0 15px;
    }
    @media (max-width: $mediaWidth) {
        flex-direction: column;
    }
 }
.promoLeft{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    padding: 120px 0;
    @media (max-width: 1167px) {
        padding: 40px 0;
    }
    @media (max-width: $mediaWidth) {
        padding: 22px 24px;
    }
    &__text{
        max-width: 270px;
        font-family: 'Raleway';
        font-weight: 600;
        font-size: 42px;
        line-height: 110%;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        color: #FFFFFF;
        margin: 54px 0;
        @media (max-width: $mediaWidth) {
            font-family: 'Raleway';
            font-weight: 600;
            font-size: 25px;
            line-height: 110%;
            max-width: fit-content;
            margin: 0;

        }
        &_marked{
            display: contents;
            color: #FF9619;
        }
    }
    &__btn{
        padding: 14px 22px;
        background: #5B5B5B;
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        align-self: start;
        text-transform: uppercase;
        color: #FFFFFF;
        background: #5B5B5B;
        border: none;
        @media (max-width: $mediaWidth) {
            display: none;
            padding: 7px 22px;
        }
        &:hover{
            background-color: #FF9619;
        }
        &_bottom{
            display: none;
            @media (max-width: $mediaWidth) {
                display: block;
                align-self: center;

            }
        }
        
    }
}
.promoRight{

    @media (max-width: $mediaWidth) {
        display: flex;
        flex-direction: column-reverse;
        height: fit-content;
    }
    &__text{
        display: flex;
        justify-content: end;
        margin: 37px 0;
        font-family: 'Raleway';
        font-size: 20px;
        line-height: 127.5%;        
        color: #FFFFFF;
        @media (max-width: $mediaWidth) {
            justify-content: center;
            margin: 22px 0;
        }
    }
}


// swiperStyle
.promoSwiper{
    position: relative;
    @media (max-width: 1167px) {
        height: 450px;
    }
    @media (max-width: $mediaWidth) {
        height: auto;
    }
}
.promoSwiperSlides{
    
    &__slide{
        width: 100%;
    }
    img{
        width: inherit;
    }
}
#leftButton, #rightButton{
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    font-size: 30px;
    color: black;
}
#leftButton{
    left: 5px;
}
#rightButton{
    right: 5px;
}
.promoSwiperPagination{
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    gap: 10px;
    @media (max-width: $mediaWidth) {
        position: absolute;
        bottom: -17px;
        gap: 4px;
    }
    &__dot{
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #F2F3F5;
        cursor: pointer;
        @media (max-width: $mediaWidth) {
            width: 7px;
            height: 7px;
        }
    }
}
.active{
    background-color: #FF9619;
}



