.questions{
    margin: 100px 0;
    background-color: #A9C2BE;
}
.questionsWrap{
    display: flex;
    align-items: center;
}
.questionFeedback{
    width: 470px;
    height: 417px;
    border: 1px solid #000;
    background-color: #FFFFFF;
    margin-left: -50px;
}