body{
    position: relative;
    height: 1000vh;
}
$siteWidth: 1169px;
$mediaWidth: 820px;
p{
    margin: 0;
}
ul{
    list-style-type: none;
    padding: 0;
}
.wrapper{
    max-width: $siteWidth;
    margin: auto;
    @media (max-width:$mediaWidth) {
        padding: 0 20px;
    }
}







